@import './global-mixins.scss';

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

* {
  font-family: Montserrat-SemiBold;
  @include noselect();
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  zoom: 1;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
.container {
    width: 1170px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){
.container {
    width: 970px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
.container {
    width: 750px;
  }
}
