@import './global-mixins.scss';

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

* {
  font-size: 11px;
  font-family: Montserrat-SemiBold;
  @include noselect();
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  zoom: 1;
}

.logo{
  width: 90px;
}

// Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) { 
  * {
    font-size: 12px;
  } 

  .logo{
    width: 100px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
  * {
    font-size: 13px;
  } 
  
  .container {
      width: 750px;
    }
  
    .logo{
      width: 110px;
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px){
  .container {
    width: 970px;
  }
  
  .logo{
    width: 120px;
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
  * {
  font-size: 14px;
  } 

  .container {
    width: 1170px;
  }
}
