<section class="footer-first-section">
    <section class="container footer-first-container">
        <img class="logo" src="../../../../assets/images/expert-apps-logo-white@4X.png" alt="">
        <nav>
            <span class="nav-item" *ngFor="let item of navItems">{{item}}</span>
        </nav>
        <section class="social-media-section">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </section>
    </section>
</section>
<section class="footer-second-section">
    <section class="container footer-second-container">
        <img src="../../../../assets/images/copyright-icon@1X.png" alt="">
        <span>2020 Expert Apps, All Rights Reserved</span>
    </section>
</section>