@import '../../../../../assets/style/global-mixins.scss';

:host{
    height: 100%;
    font-weight: 'Montserrat-Medium';
}

.add-user-section{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

    .mat-raised-button.mat-primary{
        @include border-radius(50px);
        padding: 0 30px;
        background-color: #1992e3;
        outline: none;
    }
}

.table-section{
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;

    .fa{
        cursor: pointer;
        padding: 0 5px;
    }

    td.mat-cell:last-of-type{
        padding: 0;
    }
}

.user-img{
    margin-right: 5px;
    height: 35px;
    width: 35px;
    @include border-radius(50%);
}

::ng-deep .mat-table thead{
    background-color: #fbfeff;
    color: #666666;
}

::ng-deep .mat-table th.mat-header-cell{
    border-bottom-style:none ;
}

::ng-deep .mat-table td.mat-cell, td.mat-footer-cel{
    color: #333333;
    border-bottom-width: 10px;
    border-color: #fbfeff;
}

::ng-deep mat-paginator .mat-paginator-container{
    background-color: #fbfeff;
    justify-content: center;

    button:focus{
        outline: none;
    }
}

// Small devices 
@media (max-width: 767.98px) {
    .add-user-section{
        padding: 10px 0;

        .mat-raised-button.mat-primary{
            padding: 0 15px;
            font-size: 11px;
            line-height: 30px;
        }
    }
} 